.mediaViewInfo {
	--web-view-name: Menu Home Page;
	--web-view-id: Menu_Home_Page;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Menu_Home_Page;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Menu_Home_Page {
	position: absolute;
	width: 1440px;
	height: 1600px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Menu Home Page;
	--web-view-id: Menu_Home_Page;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
#PICT1128 {
	position: absolute;
	width: 2304px;
	height: 1536px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Component_1__2 {
	position: absolute;
	width: 406px;
	height: 47px;
	left: 40px;
	top: 27px;
	overflow: visible;
}
#BESTLEY_AUDIO {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 407px;
	white-space: nowrap;
	text-align: center;
	font-family: Samuel;
	font-style: normal;
	font-weight: normal;
	font-size: 50px;
	color: rgba(0,0,0,1);
	text-transform: uppercase;
}
#Component_2__1 {
	position: absolute;
	width: 1440px;
	height: 800px;
	left: 0px;
	top: 800px;
	overflow: visible;
}
#Rectangle_2_l {
	fill: url(#Rectangle_2_l);
}
.Rectangle_2_l {
	position: absolute;
	overflow: visible;
	width: 1440px;
	height: 800px;
	left: 0px;
	top: 0px;
}
#Rectangle_3_n {
	fill: url(#Rectangle_3_n);
}
.Rectangle_3_n {
	position: absolute;
	overflow: visible;
	width: 1440px;
	height: 453px;
	left: 0px;
	top: 942px;
}
#n_BESTLEY_AUDIO_2024_-_All_Rig {
	left: 468px;
	top: 1569px;
	position: absolute;
	overflow: visible;
	width: 505px;
	white-space: nowrap;
	text-align: center;
	font-family: Futura;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(249,224,118,1);
}
#Group_5 {
	position: absolute;
	width: 1199.5px;
	height: 462px;
	left: 120.25px;
	top: 958px;
	overflow: visible;
}
#Who__am__I {
	left: 205px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 273px;
	white-space: nowrap;
	text-align: center;
	font-family: Samuel;
	font-style: normal;
	font-weight: normal;
	font-size: 50px;
	color: rgba(255,255,255,1);
}
#Hi_Im_Owain_Bestley__I_am_an_a {
	left: 0px;
	top: 66px;
	position: absolute;
	overflow: visible;
	width: 691px;
	white-space: nowrap;
	text-align: left;
	font-family: Courier New;
	font-style: normal;
	font-weight: normal;
	font-size: 23px;
	color: rgba(255,255,255,1);
}
#Cheers__Owain {
	left: 284px;
	top: 399px;
	position: absolute;
	overflow: visible;
	width: 124px;
	white-space: nowrap;
	text-align: left;
	font-family: Samuel;
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
	color: rgba(255,255,255,1);
}
#Image_1 {
	position: absolute;
	width: 460.745px;
	height: 462px;
	left: 738.755px;
	top: 0px;
	overflow: visible;
}
#Component_3__1 {
	position: absolute;
	width: 110px;
	height: 52px;
	left: 40px;
	top: 107px;
	overflow: visible;
}
#BLOG {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 111px;
	white-space: nowrap;
	text-align: center;
	font-family: Futura;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(90,90,90,1);
}
#Component_4__1 {
	position: absolute;
	width: 190px;
	height: 52px;
	left: 40px;
	top: 159px;
	overflow: visible;
}
#PROJECTS {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 191px;
	white-space: nowrap;
	text-align: center;
	font-family: Futura;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(90,90,90,1);
}
#Component_5__1 {
	position: absolute;
	width: 132px;
	height: 52px;
	left: 40px;
	top: 206px;
	overflow: visible;
}
#MUSIC {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 133px;
	white-space: nowrap;
	text-align: center;
	font-family: Futura;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(90,90,90,1);
}
#Component_6__1 {
	position: absolute;
	width: 190px;
	height: 52px;
	left: 40px;
	top: 258px;
	overflow: visible;
}
#CONTACT {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 191px;
	white-space: nowrap;
	text-align: center;
	font-family: Futura;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(90,90,90,1);
}
